{% extends '::layout.html.twig' %}

{% block menu %}
    {% render controller('BackendBundle:Default:menu', {}) %}
{% endblock %}

{% block contenido %}
    <hr>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Occupation</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for key,employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.occupation }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></button>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus-sign"></span></button>
                              </div>
                        </div>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
      </table>
    </div>

    <!-- TODO: Incluir un controlador al que se le pasen los datos necesarios para renderizar en una nueva vista un paginador funcional -->
    <div class="row" style='text-align: center;'>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}