{% extends '::layout.html.twig' %}

{% block menu %}
    {% render controller('BackendBundle:Default:menu', {}) %}
{% endblock %}

{% block contenido %}
<hr>
<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Este backend te ayudará a gestionar los empleados y oficinas de la empresa.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
{% endblock %}