<ul class="nav nav-pills">
    <li><a href="{{ path('backend_employees_list') }}">Employees List</a></li>
    <li><a href="#">Office List</a></li>
    <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Options <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Logout</a></li>
        </ul>
    </li>
</ul>